.menu-container
    a(href="/")
        img(src="/img/Management-logos_transparent.png" alt="logo")
    h2= name ? name : title
    .space
        .user-container
            h4 hey, 
                b= user.name
            span.material-symbols-outlined.person person

        .setting-container
            a(href="/settings") 
                span( class="material-symbols-outlined") settings
                span Settings
            a.btnLogout
                span(class="material-symbols-outlined") logout
                span Log Out 