* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F4E8A2;
  color: #333333;
}
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #444444a1;
  border-radius: 2rem;
}
*::-webkit-scrollbar-track {
  background-color: #ebdfd700;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
.container-body {
  width: 115rem;
  margin: 0 auto;
}
.container-base {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}
button {
  cursor: pointer;
}

