.header-container {
  width: 25rem;
  padding: 2rem 1rem;
  border-radius: 2.4rem;
}
nav {
  height: 59rem;
  padding: 2rem 0;
  display: grid;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
nav ul:first-of-type {
  height: 21.5rem;
}
nav ul li a {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav ul li a:hover {
  color: #3c652f;
}
.hover {
  color: #3c652f;
}
.user-container {
  display: grid;
  gap: 0.7rem;
  margin-bottom: 4rem;
  height: 16.5rem;
}
.user-container .person {
  width: 10rem;
  height: 10rem;
  padding: 0.3rem;
  border-radius: 1.3rem;
  object-fit: cover;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  display: grid;
  place-content: center;
}
.user-container h4:first-of-type {
  font-size: 3rem;
  color: #121212;
  font-weight: 600;
}
.user-container h5 {
  font-size: 1.5rem;
  color: #494949;
  font-weight: 300;
}
.user-container span {
  color: #e9e9e9;
  font-size: 8rem;
}
