@import "./globals.css";
@import "./header.css";

.tasksContainer {
  width: 100%;
  height: 100%;
}
.tasksContainer h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.container-tasks {
  height: 55rem;
  border-radius: 3.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
  width: 100%;
}
.container-tasks table {
  width: 73rem;
  max-height: 50rem;
  overflow: auto;
}
.container-tasks th,
.container-tasks td {
  text-align: center;
  font-size: 1.3rem;
}
.container-tasks th {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.container-tasks td {
  padding: 0.5rem 0;
}
.container-tasks tr:not(:first-child):hover {
  background-color: rgba(250, 250, 250, 0.4);
  cursor: pointer;
}
tr .name {
  width: 16rem;
  height: 2.5rem;
  text-align: left;
  overflow: hidden;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: center;
}
.Progress {
  color: #70a1e5;
  background-color: rgba(112, 161, 229, 0.13);
  border-radius: 2rem;
}
.Hard,
.Deferred {
  color: #ee201c;
  background-color: rgba(238, 32, 28, 0.13);
  border-radius: 2rem;
}
.Easy,
.Completed {
  color: #1a932e;
  background-color: rgba(26, 147, 46, 0.13);
  border-radius: 2rem;
}
.Medium,
.Review {
  color: #dfa510;
  background-color: rgba(226, 177, 51, 0.13);
  border-radius: 2rem;
}
